@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@400;500;600;700&family=Roboto&family=Volkhov:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Google Sans";
  src: url("/fonts/ProductSans-Medium.woff");
}
body {
  background: url("img/background_mark.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: right;
}

a:link, :visited, :hover {
  color: #212832;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

.header {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.3;
  color: #212832;
  padding: calc(10px + 40 * (100vw - 768px) / 452) 0px;
}
@media (max-width: 1220px) {
  .header {
    padding: calc(10px + 40 * (100vw - 768px) / 452) calc(10px + 40 * (100vw - 768px) / 452);
  }
}
.header .header__menu-mobile {
  display: none;
}
.header .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.header .header__menu {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  height: 100%;
}
.header .header__menu .menu__list {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: calc(20px + 30 * (min(100vw, 1220px) - 768px) / 452);
}
.header .header__menu .menu__list li {
  transition: 0.3s all;
}
.header .header__menu .menu__list li:hover {
  transform: scale(1.1);
}
.header .header__menu .menu__list li:hover a {
  color: #3b336e;
}
.header .header__action {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: calc(20px + 62 * (min(100vw, 1220px) - 768px) / 452);
  flex: 0 0 calc(180px + 100 * (100vw - 768px) / 452);
  gap: calc(20px + 30 * (min(100vw, 1220px) - 768px) / 452);
}
.header .header__action .button {
  width: calc(70px + 30 * (100vw - 768px) / 452);
  height: 40px;
  border: 1px solid #212832;
  border-radius: 5px;
  background-color: inherit;
}
.header .header__action .button-border {
  border: none;
}
.header .language-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.header .language-switcher .switcher {
  display: flex;
  align-items: center;
}
.header .language-switcher .switcher:before {
  content: "EN";
  margin-right: 10px;
}
.header .language-switcher .language__options {
  display: none;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}
.header .language-switcher .language__options li {
  padding: 5px 0;
}
.header .language-switcher:hover .language__options {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  position: absolute;
  top: 25px;
  left: -10px;
}

.main__content {
  width: 100%;
  margin-top: 20px;
}
@media (max-width: 1220px) {
  .main__content {
    padding: 0 40px;
  }
}
.main__content .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}
.main__content .main__about {
  max-width: 545px;
}
.main__content .main__about .main__about-suptitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: calc(10px + 10 * (min(100vw, 1220px) - 768px) / 452);
  line-height: 1.5;
  text-transform: uppercase;
  color: #DF6951;
  width: 100%;
}
.main__content .main__about .main__about-title {
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 700;
  font-size: calc(40px + 44 * (min(100vw, 1220px) - 768px) / 452);
  line-height: 106%;
  letter-spacing: -0.04em;
  color: #181E4B;
  width: 100%;
  margin-top: calc(10px + 14 * (min(100vw, 1220px) - 768px) / 452);
}
.main__content .main__about .main__about-subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: calc(12px + 4 * (min(100vw, 1220px) - 768px) / 452);
  line-height: 108%;
  color: #5E6282;
  width: 100%;
  margin-top: calc(15px + 15 * (min(100vw, 1220px) - 768px) / 452);
}
.main__content .main__about .main__about-actions {
  display: flex;
  align-items: center;
  margin-top: calc(15px + 19 * (min(100vw, 1220px) - 768px) / 452);
}
.main__content .main__about .main__about-actions .main-find_out {
  background: #F1A501;
  box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  border-radius: 10px;
  padding: calc(10px + 10 * (min(100vw, 1220px) - 768px) / 452) calc(20px + 10 * (min(100vw, 1220px) - 768px) / 452);
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
}
.main__content .main__about .main__about-actions .main-play {
  display: flex;
  background: #DF6951;
  box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
  border-radius: 50%;
  width: calc(32px + 20 * (min(100vw, 1220px) - 768px) / 452);
  height: calc(32px + 20 * (min(100vw, 1220px) - 768px) / 452);
  margin-left: calc(20px + 20 * (min(100vw, 1220px) - 768px) / 452);
}
.main__content .main__about .main__about-actions .main-play__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: calc(14px + 3 * (min(100vw, 1220px) - 768px) / 452);
  color: #686D77;
  margin-left: 15px;
}
@keyframes fly {
  50% {
    transform: translateX(300%) translateY(-300%);
  }
  to {
    transform: translateX(0%) translateY(0%);
  }
}
.main__content .main__image {
  position: relative;
}
.main__content .main__image .main__image-girl {
  width: calc(365px + 309 * (min(100vw, 1220px) - 768px) / 452);
  height: calc(364px + 311 * (min(100vw, 1220px) - 768px) / 452);
  z-index: 2;
}
.main__content .main__image .main__image-plane {
  width: calc(100px + 67 * (min(100vw, 1220px) - 768px) / 452);
  height: calc(100px + 50 * (min(100vw, 1220px) - 768px) / 452);
  position: absolute;
  top: 0;
  left: 10%;
  transition: 0.3s all;
}
.main__content .main__image .main__image-plane:hover {
  animation: fly 3s ease;
}
.main__content .main__image .second {
  left: 70%;
  z-index: -1;
}

.main__services .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__services .main__services-suptitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: calc(10px + 8 * (min(100vw, 1220px) - 768px) / 452);
  line-height: 1.5;
  color: #5E6282;
}
.main__services .main__services-title {
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 700;
  font-size: calc(35px + 15 * (min(100vw, 1220px) - 768px) / 452);
  line-height: 1.28;
  text-align: center;
  text-transform: capitalize;
  color: #14183E;
  margin-top: 10px;
}
.main__services .main__services-list {
  display: flex;
  flex-direction: row;
  gap: calc(19px + 19 * (min(100vw, 1220px) - 768px) / 452);
}
.main__services .main__services-list .services__card {
  position: relative;
}
.main__services .main__services-list .services__card .services__block {
  position: absolute;
  width: calc(40px + 60 * (min(100vw, 1220px) - 768px) / 452);
  height: calc(40px + 60 * (min(100vw, 1220px) - 768px) / 452);
  background: #DF6951;
  border-radius: calc(15px + 15 * (min(100vw, 1220px) - 768px) / 452) 0px 10px;
  z-index: -1;
  top: 85%;
  left: -20%;
  display: none;
}
.main__services .main__services-list .services__card .services__item {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: calc(10px + 20 * (min(100vw, 1220px) - 768px) / 452) calc(20px + 20 * (min(100vw, 1220px) - 768px) / 452);
  margin-top: calc(36px + 30 * (min(100vw, 1220px) - 768px) / 452);
}
.main__services .main__services-list .services__card .services__item .services__item-img {
  height: calc(50px + 30 * (min(100vw, 1220px) - 768px) / 452);
  width: calc(50px + 64 * (min(100vw, 1220px) - 768px) / 452);
}
.main__services .main__services-list .services__card .services__item .services__item-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: calc(10px + 10 * (min(100vw, 1220px) - 768px) / 452);
  line-height: 1.35;
  text-align: center;
  color: #1E1D4C;
  margin-top: calc(15px + 15 * (min(100vw, 1220px) - 768px) / 452);
  width: calc(70px + 120 * (min(100vw, 1220px) - 768px) / 452);
}
.main__services .main__services-list .services__card .services__item .services__item-subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: calc(10px + 6 * (min(100vw, 1220px) - 768px) / 452);
  line-height: 162%;
  color: #5E6282;
  text-align: center;
  margin-top: calc(7px + 8 * (min(100vw, 1220px) - 768px) / 452);
}
.main__services .main__services-list .services__card:hover .services__item {
  background: #FFFFFF;
  transform: scale(1.1);
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: calc(18px + 18 * (min(100vw, 1220px) - 768px) / 452);
}
.main__services .main__services-list .services__card:hover .services__block {
  display: flex;
}

.main__destinations {
  margin-top: calc(60px + 60 * (min(100vw, 1220px) - 768px) / 452);
  padding: 0px 40px;
}
.main__destinations .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__destinations .main__destinations-suptitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: calc(10px + 8 * (min(100vw, 1220px) - 768px) / 452);
  line-height: 1.5;
  color: #5E6282;
}
.main__destinations .main__destinations-title {
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 700;
  font-size: calc(35px + 15 * (min(100vw, 1220px) - 768px) / 452);
  line-height: 1.28;
  text-transform: capitalize;
  color: #14183E;
  margin-top: 8px;
}
.main__destinations .main__destinations-list {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: calc(35px + 25 * (min(100vw, 1220px) - 768px) / 452);
}
.main__destinations .main__destinations-list .destinations__item {
  position: relative;
  background-size: cover;
  width: calc(210px + 100 * (min(100vw, 1220px) - 768px) / 452);
  height: calc(350px + 100 * (min(100vw, 1220px) - 768px) / 452);
  border-radius: 0px 0px 24px 24px;
}
.main__destinations .main__destinations-list .rome {
  background-image: url("img/rome.png");
}
.main__destinations .main__destinations-list .london {
  background-image: url("img/London.png");
}
.main__destinations .main__destinations-list .europe {
  background-image: url("img/Destination.png");
}
.main__destinations .main__destinations-list .destinations__card {
  padding: calc(10px + 10 * (min(100vw, 1220px) - 768px) / 452) calc(10px + 10 * (min(100vw, 1220px) - 768px) / 452) calc(20px + 20 * (min(100vw, 1220px) - 768px) / 452) calc(10px + 10 * (min(100vw, 1220px) - 768px) / 452);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: calc(10px + 8 * (min(100vw, 1220px) - 768px) / 452);
  line-height: 124.5%;
  color: #5E6282;
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(210px + 100 * (min(100vw, 1220px) - 768px) / 452);
  background: #FFFFFF;
  border-radius: 0px 0px 24px 24px;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.main__destinations .main__destinations-list .destinations__card .destinations__item-title {
  display: flex;
  justify-content: space-between;
}
.main__destinations .main__destinations-list .destinations__card .destinations__item-duration {
  display: flex;
  margin-top: calc(10px + 10 * (min(100vw, 1220px) - 768px) / 452);
  gap: calc(5px + 5 * (min(100vw, 1220px) - 768px) / 452);
}
.main__destinations .main__destinations-list .destinations__card .destinations__item-duration img {
  height: calc(10px + 10 * (min(100vw, 1220px) - 768px) / 452);
  width: calc(10px + 10 * (min(100vw, 1220px) - 768px) / 452);
}
.main__destinations .main__destinations-list .destinations__card .destinations__item-duration .destinations__item-duration-text {
  font-size: calc(8px + 8 * (min(100vw, 1220px) - 768px) / 452);
}
.main__destinations .main__destinations-list::before {
  content: " ";
  background-image: url("img/Decore.svg");
  width: 98px;
  height: 254px;
  position: absolute;
  top: 20%;
  left: 95%;
}

.main__booking {
  padding-top: calc(100px + 80 * (min(100vw, 1220px) - 768px) / 452);
  padding-right: 40px;
  padding-left: 40px;
}
.main__booking .main__booking-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #5E6282;
}
.main__booking .main__booking-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: calc(70px + 61 * (min(100vw, 1220px) - 768px) / 452);
  margin-top: calc(8px + 7 * (min(100vw, 1220px) - 768px) / 452);
}
.main__booking .main__booking-content .main__booking-content-text {
  width: calc(400px + 100 * (min(100vw, 1220px) - 768px) / 452);
}
.main__booking .main__booking-content .main__booking-content-text .booking__content-title {
  font-size: calc(35px + 15 * (min(100vw, 1220px) - 768px) / 452);
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 700;
  line-height: 1.28;
  text-transform: capitalize;
  color: #14183E;
}
.main__booking .main__booking-content .main__booking-content-text .booking__content-item {
  display: flex;
  align-items: center;
  margin-top: calc(11px + 11 * (min(100vw, 1220px) - 768px) / 452);
  gap: calc(10px + 10 * (min(100vw, 1220px) - 768px) / 452);
}
.main__booking .main__booking-content .main__booking-content-text .booking__content-item .booking__content-item-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: calc(12px + 4 * (min(100vw, 1220px) - 768px) / 452);
  line-height: 124.5%;
  color: #5E6282;
}
.main__booking .main__booking-content .main__booking-content-text .booking__content-item .booking__content-item-subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: calc(12px + 4 * (min(100vw, 1220px) - 768px) / 452);
  line-height: 124.5%;
  color: #5E6282;
}
.main__booking .main__booking-content .main__booking-content-card {
  position: relative;
}
.main__booking .main__booking-content .main__booking-content-card .main__booking-content-card-item {
  z-index: 1;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 26px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: calc(185px + 185 * (min(100vw, 1220px) - 768px) / 452);
  padding: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  line-height: 124.5%;
}
.main__booking .main__booking-content .main__booking-content-card .main__booking-content-card-item .booking__content-card-title {
  font-size: calc(12px + 6 * (min(100vw, 1220px) - 768px) / 452);
  letter-spacing: 0.015em;
  color: #080809;
  margin-top: 26px;
}
.main__booking .main__booking-content .main__booking-content-card .main__booking-content-card-item .booking__content-card-subtitle {
  font-size: calc(12px + 4 * (min(100vw, 1220px) - 768px) / 452);
  letter-spacing: -0.005em;
  color: #84829A;
  margin-top: 10px;
}
.main__booking .main__booking-content .main__booking-content-card .main__booking-content-card-item .booking__content-card-icons {
  margin-top: 20px;
}
.main__booking .main__booking-content .main__booking-content-card .main__booking-content-card-item .booking__content-card-icons img {
  height: calc(18px + 18 * (min(100vw, 1220px) - 768px) / 452);
  width: calc(18px + 18 * (min(100vw, 1220px) - 768px) / 452);
}
.main__booking .main__booking-content .main__booking-content-card .main__booking-content-card-item .booking__content-card-footer {
  color: #84829A;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.main__booking .main__booking-content .main__booking-content-card .main__booking-content-card-item .booking__content-card-footer .card__footer-icon {
  height: 18.58px;
  width: 20px;
  background-image: url("img/heart.svg");
}
.main__booking .main__booking-content .main__booking-content-card .main__booking-content-card-back {
  position: absolute;
  top: 0%;
  left: 15%;
  width: calc(177px + 177 * (min(100vw, 1220px) - 768px) / 452);
  height: calc(183px + 184 * (min(100vw, 1220px) - 768px) / 452);
  background: #59B1E6;
  opacity: 0.5;
  filter: blur(75px);
  z-index: -1;
}
.main__booking .main__booking-content .main__booking-content-card .main__booking-content-card-hover {
  width: calc(160px + 100 * (min(100vw, 1220px) - 768px) / 452);
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  line-height: 124.5%;
  background: #FFFFFF;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 18px;
  padding: 20px 20px;
  position: absolute;
  left: 55%;
  top: 60%;
}
.main__booking .main__booking-content .main__booking-content-card .main__booking-content-card-hover img {
  height: calc(30px + 20 * (min(100vw, 1220px) - 768px) / 452);
  width: calc(30px + 20 * (min(100vw, 1220px) - 768px) / 452);
}
.main__booking .main__booking-content .main__booking-content-card .main__booking-content-card-hover .main__booking-content-card-hover-info {
  margin-left: 10px;
}
.main__booking .main__booking-content .main__booking-content-card .main__booking-content-card-hover .main__booking-content-card-hover-info p:nth-child(1) {
  color: #84829A;
}
.main__booking .main__booking-content .main__booking-content-card .main__booking-content-card-hover .main__booking-content-card-hover-info p:nth-child(2) {
  font-size: calc(14px + 4 * (min(100vw, 1220px) - 768px) / 452);
  color: #080809;
  margin-top: 6px;
}
.main__booking .main__booking-content .main__booking-content-card .main__booking-content-card-hover .main__booking-content-card-hover-info p:nth-child(3) {
  margin-top: 14px;
}
.main__booking .main__booking-content .main__booking-content-card .main__booking-content-card-hover .main__booking-content-card-hover-info p:nth-child(3) .percentage {
  color: #8A79DF;
}
.main__booking .main__booking-content .main__booking-content-card .main__booking-content-card-hover .main__booking-content-card-hover-info .progress__bar {
  width: 80%;
  height: 5px;
  background: #F5F5F5;
  border-radius: 30px;
  margin-top: 8px;
}
.main__booking .main__booking-content .main__booking-content-card .main__booking-content-card-hover .main__booking-content-card-hover-info .progress__bar .bar {
  background: #8A79DF;
  height: 100%;
  width: 40%;
  border-radius: 30px;
}

.main__comment {
  font-family: "Poppins";
  font-style: normal;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: calc(100px + 100 * (min(100vw, 1220px) - 768px) / 452);
}
.main__comment .container {
  display: flex;
  justify-content: space-between;
}
.main__comment .container .main__comment-text {
  width: calc(251px + 199 * (min(100vw, 1220px) - 768px) / 452);
}
.main__comment .container .main__comment-text p:nth-child(1) {
  font-weight: 600;
  font-size: calc(10px + 8 * (min(100vw, 1220px) - 768px) / 452);
  line-height: 1.5;
  color: #5E6282;
}
.main__comment .container .main__comment-text p:nth-child(2) {
  font-weight: 600;
  font-size: calc(35px + 15 * (min(100vw, 1220px) - 768px) / 452);
  line-height: 1.06;
  text-transform: capitalize;
  color: #14183E;
  margin-top: 8px;
}
.main__comment .container .main__comment-info {
  background: #FFFFFF;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 10px;
  width: calc(302px + 200 * (min(100vw, 1220px) - 768px) / 452);
  padding: calc(15px + 15 * (min(100vw, 1220px) - 768px) / 452);
  padding-left: calc(35px + 35 * (min(100vw, 1220px) - 768px) / 452);
  position: relative;
}
.main__comment .container .main__comment-info p:nth-of-type(1) {
  font-weight: 500;
  font-size: calc(10px + 6 * (min(100vw, 1220px) - 768px) / 452);
  line-height: 2;
  color: #5E6282;
}
.main__comment .container .main__comment-info p:nth-of-type(2) {
  font-weight: 600;
  font-size: calc(10px + 8 * (min(100vw, 1220px) - 768px) / 452);
  line-height: 1.5;
  color: #5E6282;
  margin-top: calc(17px + 17 * (min(100vw, 1220px) - 768px) / 452);
}
.main__comment .container .main__comment-info p:nth-of-type(3) {
  font-weight: 500;
  font-size: calc(10px + 4 * (min(100vw, 1220px) - 768px) / 452);
  line-height: 1.5;
  color: #5E6282;
  margin-top: 5px;
}
.main__comment .container .main__comment-info img {
  position: absolute;
  top: -15%;
  left: -5%;
  width: calc(42px + 26 * (min(100vw, 1220px) - 768px) / 452);
  height: calc(42px + 26 * (min(100vw, 1220px) - 768px) / 452);
}

.main__companies {
  padding: 0px 40px;
  padding-top: calc(85px + 85 * (min(100vw, 1220px) - 768px) / 452);
}
.main__companies .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__companies .container .main__companies-title {
  display: none;
}
.main__companies .container .img__container {
  padding: calc(15px + 15 * (min(100vw, 1220px) - 768px) / 452);
}
.main__companies .container .img__container img {
  filter: grayscale(100%);
  max-height: calc(80px + 80 * (min(100vw, 1220px) - 768px) / 452);
  max-width: calc(80px + 80 * (min(100vw, 1220px) - 768px) / 452);
}
.main__companies .container .img__container:hover {
  transform: scale(1.1);
  background: #FFFFFF;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 10px;
}
.main__companies .container .img__container:hover img {
  filter: grayscale(0%);
}

.main__form {
  padding-top: calc(60px + 60 * (min(100vw, 1220px) - 768px) / 452);
}
.main__form .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: calc(40px + 40 * (min(100vw, 1220px) - 768px) / 452);
  padding-bottom: calc(60px + 60 * (min(100vw, 1220px) - 768px) / 452);
  position: relative;
  background: url("img/background_form.png") no-repeat;
  width: calc(585px + 585 * (min(100vw, 1220px) - 768px) / 452);
}
.main__form .container .tele__circle {
  position: absolute;
  width: calc(35px + 35 * (min(100vw, 1220px) - 768px) / 452);
  height: calc(35px + 35 * (min(100vw, 1220px) - 768px) / 452);
  top: -5%;
  left: 95%;
}
.main__form .container p:nth-child(1) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: calc(20px + 13 * (min(100vw, 1220px) - 768px) / 452);
  line-height: 164%;
  color: #5E6282;
  text-align: center;
  width: calc(425px + 425 * (min(100vw, 1220px) - 768px) / 452);
}
.main__form .container .main__form-input {
  margin-top: calc(38px + 38 * (min(100vw, 1220px) - 768px) / 452);
  display: flex;
}
.main__form .container .main__form-input input {
  width: calc(210px + 211 * (min(100vw, 1220px) - 768px) / 452);
  background: #FFFFFF;
  border-radius: 10px;
  padding-left: 20px;
}
.main__form .container .main__form-input input::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #39425D;
}
.main__form .container .main__form-input .main__form-input-subscribe {
  background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
  border-radius: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 1.5;
  text-align: center;
  color: #FFFFFF;
  padding: 20px 50px;
  margin-left: calc(20px + 20 * (min(100vw, 1220px) - 768px) / 452);
}

footer {
  padding-top: calc(80px + 80 * (min(100vw, 1220px) - 768px) / 452);
  padding-bottom: calc(40px + 40 * (min(100vw, 1220px) - 768px) / 452);
}
footer h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: calc(10px + 4 * (min(100vw, 1220px) - 768px) / 452);
  line-height: 124.5%;
  text-align: center;
  color: #5E6282;
}
footer .container {
  display: flex;
  justify-content: space-between;
  padding: 0 40px 84px 40px;
  padding-bottom: calc(42px + 42 * (min(100vw, 1220px) - 768px) / 452);
}
footer .container .footer__logo {
  width: calc(140px + 67 * (min(100vw, 1220px) - 768px) / 452);
}
footer .container .footer__logo p:nth-child(1) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: calc(30px + 14 * (min(100vw, 1220px) - 768px) / 452);
  line-height: 1.5;
  color: #181E4B;
  -webkit-text-stroke: 1px #000000;
}
footer .container .footer__logo p:nth-child(2) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 124.5%;
  color: #5E6282;
}
footer .container .footer__item {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .container .footer__item a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: calc(12px + 6 * (min(100vw, 1220px) - 768px) / 452);
  color: #5E6282;
}
footer .container .footer__item .item__title {
  font-family: "Poppins";
  font-weight: 700;
  font-size: calc(13px + 8 * (min(100vw, 1220px) - 768px) / 452);
  color: #080809;
}
footer .container .footer__discover {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .container .footer__discover .footer__socials {
  display: flex;
  gap: 20px;
}
footer .container .footer__discover p:nth-child(2) {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: calc(12px + 8 * (min(100vw, 1220px) - 768px) / 452);
  line-height: 124.5%;
  letter-spacing: 0.005em;
  color: #5E6282;
  margin-top: calc(17px + 18 * (min(100vw, 1220px) - 768px) / 452);
}
footer .container .footer__discover .footer__apps {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
footer .container .footer__discover .footer__apps img {
  height: calc(24.5px + 10.5 * (min(100vw, 1220px) - 768px) / 452);
  width: calc(75px + 32 * (min(100vw, 1220px) - 768px) / 452);
}

@media (max-width: 768px) {
  body {
    background: none;
  }
  .header {
    padding: 20px;
    background: #FFF1DA;
  }
  .header .container {
    height: 100%;
    flex-direction: column;
  }
  .header .container .menu .header__logo {
    flex: 1 1 auto;
  }
  .header .container .menu .header__action {
    display: none;
  }
  .header .container .menu .header__menu {
    display: none;
  }
  .header .container .header__menu-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .header .container .header__menu-mobile .menu-mobile__list {
    display: flex;
    flex-direction: column;
    gap: calc(20px + 10 * (min(100vw, 768px) - 240px) / 528);
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: calc(20px + 10 * (min(100vw, 768px) - 240px) / 528);
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
  }
  .main__content {
    padding-top: 74px;
  }
  .main__content .main__about .main__about-suptitle {
    display: none;
  }
  .main__content .main__about .main__about-subtitle {
    display: none;
  }
  .main__content .main__image {
    display: none;
  }
  .main__content .container {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .main__content .container .main__about-title {
    position: relative;
    font-family: "Volkhov";
    font-style: normal;
    font-weight: 700;
    font-size: calc(24px + 24 * (min(100vw, 768px) - 240px) / 528);
    line-height: 185%;
    letter-spacing: -0.04em;
    color: #181E4B;
    text-align: center;
  }
  .main__content .container .main__about-title::before {
    content: "";
    background: url("img/plane.svg");
    background-size: 100%;
    position: absolute;
    top: -12%;
    left: -10%;
    width: calc(50px + 50 * (min(100vw, 768px) - 240px) / 528);
    height: calc(50px + 50 * (min(100vw, 768px) - 240px) / 528);
  }
  .main__content .container .main__about-actions {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: calc(20px + 10 * (min(100vw, 768px) - 240px) / 528);
  }
  .main__content .container .main__about-actions .main-find_out {
    background: #F1A501;
    box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
    border-radius: 10px;
    width: calc(100px + 70 * (min(100vw, 768px) - 240px) / 528);
    height: calc(50px + 10 * (min(100vw, 768px) - 240px) / 528);
  }
  .main__content .container .main__about-actions .main_play {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  .main__content .container .main__about-actions .main_play .main-play {
    width: calc(40px + 12 * (min(100vw, 768px) - 240px) / 528);
    height: calc(40px + 12 * (min(100vw, 768px) - 240px) / 528);
  }
  .main__content .container .main__about-actions .main_play .main-play__title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.5;
    color: #686D77;
  }
  .main__services {
    padding: 120px 20px 20px 20px;
  }
  .main__services .container {
    flex-direction: column;
  }
  .main__services .container .main__services-suptitle {
    font-size: 20px;
    line-height: 1.5;
  }
  .main__services .container .main__services-title {
    font-size: 40px;
    line-height: 1.25;
    margin-top: 25px;
  }
  .main__services .container .main__services-list {
    flex-direction: column;
    align-items: center;
  }
  .main__services .container .services__card {
    border-radius: 36px;
  }
  .main__services .container .services__card.local_events {
    display: none;
  }
  .main__services .container .services__card.customization {
    display: none;
  }
  .main__services .container .services__card .services__block {
    background: #DF6951;
    border-radius: 30px 0px 10px;
    width: calc(50px + 50 * (min(100vw, 768px) - 240px) / 528);
    height: calc(50px + 50 * (min(100vw, 768px) - 240px) / 528);
  }
  .main__services .container .services__card .services__item {
    margin-top: 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: calc(200px + 70 * (min(100vw, 768px) - 240px) / 528);
  }
  .main__services .container .services__card .services__item .services__item-img {
    width: calc(50px + 50 * (min(100vw, 768px) - 240px) / 528);
    height: calc(35px + 35 * (min(100vw, 768px) - 240px) / 528);
  }
  .main__services .container .services__card .services__item .services__item-title {
    width: 100%;
    margin-top: 30px;
    font-size: calc(12px + 8 * (min(100vw, 768px) - 240px) / 528);
    line-height: 1.35;
    text-align: center;
  }
  .main__services .container .services__card .services__item .services__item-subtitle {
    margin-top: 15px;
    font-size: calc(10px + 6 * (min(100vw, 768px) - 240px) / 528);
    line-height: 1.62;
    text-align: center;
  }
  .main__destinations {
    padding: 20px;
  }
  .main__destinations .container {
    flex-direction: column;
    align-items: center;
  }
  .main__destinations .container .main__destinations-suptitle {
    font-size: calc(12px + 13 * (min(100vw, 768px) - 240px) / 528);
    line-height: 1.5;
    text-align: center;
  }
  .main__destinations .container .main__destinations-title {
    font-size: calc(20px + 25 * (min(100vw, 768px) - 240px) / 528);
    line-height: 1.25;
    text-align: center;
  }
  .main__destinations .container .main__destinations-list {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .main__destinations .container .main__destinations-list::before {
    display: none;
  }
  .main__destinations .container .main__destinations-list .destinations__item {
    width: 80%;
    min-height: 450px;
  }
  .main__destinations .container .main__destinations-list .destinations__card {
    width: 100%;
    height: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main__destinations .container .main__destinations-list .destinations__card .destinations__item-title {
    font-size: calc(10px + 6 * (min(100vw, 768px) - 240px) / 528);
    line-height: 124.5%;
  }
  .main__destinations .container .main__destinations-list .destinations__card .destinations__item-duration img {
    width: calc(8px + 8 * (min(100vw, 768px) - 240px) / 528);
    height: calc(8px + 8 * (min(100vw, 768px) - 240px) / 528);
  }
  .main__destinations .container .main__destinations-list .destinations__card .destinations__item-duration-text {
    font-size: calc(10px + 6 * (min(100vw, 768px) - 240px) / 528);
    line-height: 124.5%;
  }
  .main__booking .container {
    padding-top: 80px;
  }
  .main__booking .container .main__booking-title {
    display: none;
  }
  .main__booking .container .main__booking-content {
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }
  .main__booking .container .main__booking-content .booking__content-title {
    font-size: calc(20px + 20 * (min(100vw, 768px) - 240px) / 528);
    line-height: 1.25;
    text-align: center;
  }
  .main__booking .container .main__booking-content .main__booking-content-text {
    width: 100%;
  }
  .main__booking .container .main__booking-content .main__booking-content-text .booking__content-item {
    margin-top: 30px;
    width: 100%;
    display: flex;
    gap: 10px;
  }
  .main__booking .container .main__booking-content .main__booking-content-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .main__booking .container .main__booking-content .main__booking-content-card .main__booking-content-card-hover {
    display: none;
  }
  .main__booking .container .main__booking-content .main__booking-content-card .main__booking-content-card-item {
    width: 80%;
    padding: 20px;
  }
  .main__booking .container .main__booking-content .main__booking-content-card .main__booking-content-card-item .booking__content-card-title {
    font-size: calc(12px + 6 * (min(100vw, 768px) - 240px) / 528);
    line-height: 124.5%;
  }
  .main__booking .container .main__booking-content .main__booking-content-card .main__booking-content-card-item .booking__content-card-subtitle {
    font-size: calc(10px + 6 * (min(100vw, 768px) - 240px) / 528);
    line-height: 124.5%;
  }
  .main__booking .container .main__booking-content .main__booking-content-card .main__booking-content-card-item .booking__content-card-icons img {
    height: calc(20px + 10 * (min(100vw, 768px) - 240px) / 528);
    width: calc(20px + 10 * (min(100vw, 768px) - 240px) / 528);
    margin-left: 5px;
  }
  .main__booking .container .main__booking-content .main__booking-content-card .main__booking-content-card-item .booking__content-card-footer {
    display: flex;
    align-items: center;
    font-size: calc(10px + 6 * (min(100vw, 768px) - 240px) / 528);
    line-height: 124.5%;
  }
  .main__comment {
    padding: 0;
    padding-top: 120px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .main__comment .container {
    flex-direction: column;
    align-items: center;
  }
  .main__comment .container .main__comment-text {
    width: 100%;
  }
  .main__comment .container .main__comment-text p:nth-child(1) {
    font-size: calc(12px + 8 * (min(100vw, 768px) - 240px) / 528);
    line-height: 1.5;
    text-align: center;
  }
  .main__comment .container .main__comment-text p:nth-child(2) {
    font-size: calc(20px + 20 * (min(100vw, 768px) - 240px) / 528);
    line-height: 1.25;
    text-align: center;
  }
  .main__comment .container .main__comment-info {
    margin-top: 60px;
    padding: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main__comment .container .main__comment-info img {
    position: static;
    height: 68px;
    width: 68px;
  }
  .main__comment .container .main__comment-info p:nth-of-type(1) {
    font-size: calc(10px + 6 * (min(100vw, 768px) - 240px) / 528);
    line-height: 1.2;
    margin-top: 10px;
  }
  .main__comment .container .main__comment-info p:nth-of-type(2) {
    font-size: calc(12px + 6 * (min(100vw, 768px) - 240px) / 528);
    line-height: 1.5;
    margin-top: 10px;
  }
  .main__comment .container .main__comment-info p:nth-of-type(3) {
    font-size: calc(10px + 4 * (min(100vw, 768px) - 240px) / 528);
    line-height: 1.5;
    margin-top: 10px;
  }
  .main__companies {
    padding: 0;
    padding-top: 100px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .main__companies .container {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  .main__companies .container .main__companies-title {
    display: flex;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: calc(14px + 6 * (min(100vw, 768px) - 240px) / 528);
    line-height: 1.5;
    text-align: center;
    color: #5E6282;
  }
  .main__companies .container .img__container {
    margin-top: 30px;
    padding: 10px;
  }
  .main__companies .container .img__container img {
    max-height: calc(80px + 80 * (min(100vw, 768px) - 240px) / 528);
    max-width: calc(80px + 80 * (min(100vw, 768px) - 240px) / 528);
  }
  .main__form {
    padding-top: 40px;
  }
  .main__form .container {
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .main__form .container p {
    display: none;
  }
  .main__form .container input {
    display: none;
  }
  .main__form .container .tele__circle {
    height: 100%;
    position: static;
    height: calc(30px + 26 * (min(100vw, 768px) - 240px) / 528);
    width: calc(30px + 26 * (min(100vw, 768px) - 240px) / 528);
  }
  .main__form .container .main__form-input {
    margin-top: 0;
    margin-right: 10px;
  }
  .main__form .container .main__form-input .main__form-input-subscribe {
    width: calc(80px + 76 * (min(100vw, 768px) - 240px) / 528);
    height: calc(30px + 26 * (min(100vw, 768px) - 240px) / 528);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(12px + 5 * (min(100vw, 768px) - 240px) / 528);
  }
  footer {
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 27px;
    background: #FFF1DA;
  }
  footer .container {
    flex-direction: column;
  }
  footer .container .footer__logo {
    width: 80%;
  }
  footer .container .footer__logo p:nth-child(1) {
    font-weight: 500;
    font-size: 44px;
    line-height: 1.5;
  }
  footer .container .footer__logo p:nth-child(2) {
    font-size: 13px;
    line-height: 124.5%;
  }
  footer .container .footer__item a {
    font-size: 18px;
    line-height: 124.5%;
  }
  footer .container .footer__item .item__title {
    font-size: 21px;
    line-height: 124.5%;
  }
  footer .container .footer__discover {
    margin: 0 auto;
    padding: 58px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .container .footer__discover p:nth-child(2) {
    margin-top: 40px;
    font-size: 20px;
    line-height: 124.5%;
    letter-spacing: 0.005em;
    color: #5E6282;
  }
  footer .container .footer__discover .footer__apps img {
    width: 107px;
    height: 35px;
  }
  footer h6 {
    margin: 0;
    font-size: 14px;
    line-height: 124.5%;
  }
}

/*# sourceMappingURL=style.css.map */
